* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a {
  display: inline-flex;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

h2 {
  font-weight: 700;
  font-size: 55px;
  line-height: 82px;
  color: #333333;
}
h2 span {
  color: #7EA310;
}

h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
}

h4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 26px;
}

h5 {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
}

.btn-green {
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  background: linear-gradient(93.17deg, #216B52 0%, #7EA310 100%);
  border-radius: 20px;
  padding: 8px 32px;
  transition: color 0.3s ease-in;
}
.btn-green:hover {
  color: #7EA310;
  border: 2px solid #7EA310;
  border-radius: 20px;
  background: transparent;
  padding: 6px 30px;
}

.btn-more {
  line-height: 170.5%;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-more svg {
  stroke: #ffffff;
}
.btn-more:hover {
  color: #7EA310;
}
.btn-more:hover svg {
  stroke: #7EA310;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0;
  font-style: normal;
}

[class*=__container] {
  max-width: 1360px;
  margin: 0 auto;
  padding-inline: 15px;
}

.header__container {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-block: 12px;
}
.header__menu {
  display: flex;
  align-items: center;
  width: 100%;
}
.header .btn-green {
  margin-left: 12px;
}
.header .menu__body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .menu__list {
  display: flex;
  align-items: center;
  color: #333333;
}
.header .menu__item-dropdown {
  position: relative;
  padding-right: 8px;
}
.header .menu__item-dropdown::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 4.5px;
  height: 4.5px;
  border-right: 1px solid #7EA310;
  border-bottom: 1px solid #7EA310;
  transform: translateY(-75%) rotate(45deg);
  transition: all 0.3s ease-in;
}
.header .menu__item-dropdown:hover::after {
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  transform: translateY(-5%) rotate(-135deg);
}
.header .menu__item-dropdown:hover .sub-menu {
  z-index: 1;
  width: -moz-fit-content;
  width: fit-content;
  max-height: 600px;
  opacity: 1;
  visibility: visible;
  padding: 24px;
  background: #333333;
  border-radius: 10px;
}
.header .menu__link {
  color: #333333;
  transition: color 0.3s ease-in;
  padding: 12px;
}
.header .menu__link:hover {
  color: #7EA310;
}
.header .sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in;
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.header .sub-menu .tabs-container {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.header .sub-menu .tab-buttons {
  width: -moz-max-content;
  width: max-content;
}
.header .sub-menu .tab-button {
  width: 309px;
  display: flex;
  align-items: flex-start;
  gap: 16px;
  background: inherit;
  padding: 12px 24px;
  border-radius: 20px;
  border-bottom: inherit 1px solid;
}
.header .sub-menu .tab-button:hover {
  border-bottom: rgba(255, 255, 255, 0.6) 1px solid;
}
.header .sub-menu .tab-button.active {
  background: #363636;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-bottom: none;
  margin: 0;
}
.header .sub-menu .tab-button-text {
  color: #ffffff;
  text-align: left;
}
.header .sub-menu .tab-button-text h4 {
  position: relative;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
}
.header .sub-menu .tab-button-text h4::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 8px;
  height: 8px;
  border-bottom: #7EA310 1px solid;
  border-right: #7EA310 1px solid;
  transform: translateY(-50%) rotate(-45deg);
}
.header .sub-menu .tab-button-text span {
  line-height: 26px;
}
.header .sub-menu .tab-button-text a {
  line-height: 26px;
  color: #7EA310;
}
.header .sub-menu .tab-content {
  display: none;
}
.header .sub-menu .tab-content.active {
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(3, 1fr);
  -moz-column-gap: 12px;
       column-gap: 12px;
  row-gap: 12px;
}
.header .sub-menu .tab-content-item:hover {
  background: #363636;
  box-shadow: 0px 0px 20px #7EA310;
  border-radius: 20px;
}
.header .sub-menu .tab-content-item a {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #363636;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  overflow: hidden;
}
.header .sub-menu .tab-item-image {
  width: 152px;
  max-height: 78px;
  overflow: hidden;
}
.header .sub-menu .tab-item-image img {
  max-width: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.header .sub-menu .tab-item-title {
  font-size: 14px;
  text-align: center;
  color: #FFFFFF;
  padding: 8px;
}
.header .sub-menu .sub-menu-links {
  min-width: max-content;
  min-width: -moz-max-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header .sub-menu .sub-menu-links h4 {
  font-weight: 600;
  line-height: 162.5%;
  /* 26/16 */
  color: #FFFFFF;
  margin-bottom: 12px;
}
.header .sub-menu .sub-menu-links a {
  line-height: 170.5%;
  /* 34/16 */
  color: #FFFFFF;
}
.header .sub-menu .sub-menu-links a:last-child {
  margin-top: 28px;
}
.header .sub-menu .sub-menu-links a:hover {
  color: #7EA310;
}
.header .sub-menu .sub-menu-links .btn-more:hover {
  color: #7EA310;
}
.header .sub-menu .sub-menu__link {
  line-height: 32px;
}
.header .language-dropdown {
  position: relative;
  display: inline-block;
  font-family: sans-serif;
  margin-left: 12px;
}
.header .language-dropdown__toggle {
  border: 1px solid #7EA310;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 18px;
  height: 18px;
}
.header .language-dropdown__toggle img {
  max-width: 100%;
  vertical-align: middle;
}
.header .language-dropdown__toggle:hover {
  background-color: #e0e0e0;
}
.header .language-dropdown__toggle span {
  display: none;
}
.header .language-dropdown__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  min-width: 180px;
  display: none;
}
.header .language-dropdown__menu[aria-hidden=false] {
  display: block;
}
.header .language-dropdown__menu li {
  padding: 10px 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}
.header .language-dropdown__menu li:hover {
  background-color: #f0f0f0;
}
.header .language-dropdown__menu li img {
  width: 24px;
  height: auto;
}
.header .language-dropdown__menu li.selected {
  background-color: #e6f7ff;
  font-weight: bold;
}
.fullscreen {
  position: relative;
  background-image: url("../img/jpg/fullscreen.jpg");
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.fullscreen__container {
  padding-top: 96px;
  padding-bottom: 24px;
}
.fullscreen__wrapper {
  padding-left: 24px;
}
.fullscreen__title {
  max-width: 540px;
  font-weight: 700;
  font-size: 55px;
  line-height: 82px;
  color: #ffffff;
  margin-bottom: 40px;
}
.fullscreen__list {
  margin-bottom: 31px;
  padding-left: 24px;
}
.fullscreen__list-item {
  position: relative;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
}
.fullscreen__list-item::before {
  content: "";
  position: absolute;
  left: -24px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff;
}
.fullscreen__buttons {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 96px;
}
.fullscreen__button {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  padding: 8px 12px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid #ffffff;
  background: transparent;
}
.fullscreen__button:hover {
  color: #333333;
  background: linear-gradient(93.17deg, #E1E1E1 0%, #FFFFFF 100%);
}
.fullscreen__autor {
  text-align: right;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
}
.fullscreen__autor a {
  align-items: center;
  gap: 4px;
  color: #ffffff;
}
.fullscreen__autor a img {
  width: 14px;
  height: 14px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
}
.fullscreen__autor a:hover {
  text-decoration: underline;
}

.company {
  background-color: #333333;
}
.company__container {
  display: flex;
  align-items: center;
  gap: 96px;
}
.company__title {
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 24px;
}
.company__title span {
  line-height: 32px;
  color: #ffffff;
  white-space: nowrap;
}
.company__marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  padding-block: 24px;
}
.company__marquee_inner {
  width: -moz-max-content;
  width: max-content;
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 64px;
       column-gap: 64px;
  white-space: nowrap;
  will-change: transform;
  animation: scroll var(--marquee-duration) linear infinite;
}
.company__marquee_item:last-child {
  margin-right: 64px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100.18%);
  }
}
.real {
  background-image: url("../img/png/real-bg-desctop.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.real__container {
  padding-top: 80px;
  padding-bottom: 40px;
}
.real__container h2 {
  max-width: 416px;
}
.real__flex {
  display: flex;
  align-items: center;
  gap: 24px;
}
.real__image {
  flex: calc(42% - 24px);
  position: relative;
  height: 594px;
}
.real__image img {
  position: absolute;
  right: 0;
  bottom: 0;
}
.real__text {
  flex: calc(58% - 24px);
}
.real__text_flex {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 24px;
       column-gap: 24px;
  row-gap: 48px;
  padding-right: 24px;
  margin-bottom: 64px;
}
.real__text_item {
  flex: calc(50% - 24px);
}
.real__text_item h4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 26px;
  color: #333333;
  margin-bottom: 12px;
}
.real__text_item p {
  line-height: 26px;
  color: #333333;
}
.real__text_dreams {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 48px;
  padding: 24px 12px;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.real__text_dreams h3 {
  max-width: 300px;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  color: #333333;
}
.first-slider {
  background-color: #333333;
  background-image: url("../img/png/first-slider-bg.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}
.first-slider__container {
  padding-top: 128px;
  padding-bottom: 64px;
}
.first-slider__next::after, .first-slider__prev::after {
  content: "";
  border-bottom: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}
.first-slider__next:hover::after, .first-slider__prev:hover::after {
  border-bottom: 1px solid #7EA310;
  border-right: 1px solid #7EA310;
}
.second-slider__container {
  padding-top: 128px;
  padding-bottom: 64px;
}
.second-slider__next::after, .second-slider__prev::after {
  content: "";
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
}
.second-slider__next:hover::after, .second-slider__prev:hover::after {
  border-bottom: 1px solid #7EA310;
  border-right: 1px solid #7EA310;
}
.slider {
  padding-inline: 12px;
  padding-bottom: 52px;
}
.slider__link {
  display: flex;
  align-items: center;
  gap: 32px;
}
.slider__images {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.slider__smollImage {
  flex: calc(50% - 32px);
}
.slider__image img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 20px;
}

.slider-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 32px;
  padding-right: 12px;
}
.slider-buttons .button-prev,
.slider-buttons .button-next {
  position: relative;
  display: inline-flex;
  width: 12px;
  height: 12px;
}
.slider-buttons .button-prev::after,
.slider-buttons .button-next::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  display: inline-block;
}
.slider-buttons .button-prev:hover::after,
.slider-buttons .button-next:hover::after {
  border-bottom: 1px solid #7EA310;
  border-right: 1px solid #7EA310;
}
.slider-buttons .button-prev::after {
  transform: translate(-50%, -50%) rotate(135deg);
}
.slider-buttons .button-next::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.bigBlock {
  background-image: url("../img/png/bigBlock-bg-desctop.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.info__container {
  padding-top: 80px;
  padding-bottom: 64px;
}
.info__container h2 {
  max-width: 470px;
}
.info__flex {
  display: flex;
  align-items: center;
  gap: 24px;
}
.info__text {
  flex: calc(58% - 24px);
}
.info__text_flex {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 24px;
       column-gap: 24px;
  row-gap: 48px;
  padding-right: 24px;
  margin-bottom: 64px;
}
.info__text_item {
  flex: calc(50% - 24px);
}
.info__text_item h4 {
  color: #333333;
  margin-bottom: 12px;
}
.info__text_item p {
  line-height: 26px;
  color: #333333;
}
.info__text_create {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 48px;
  padding: 24px 12px;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.info__text_create h3 {
  max-width: 300px;
  color: #333333;
}
.info__image {
  flex: calc(42% - 24px);
  position: relative;
  height: 541px;
}
.info__image img {
  position: absolute;
  left: 0;
  bottom: 0;
}

.work {
  background-color: #7EA310;
  background-image: url("../img/png/work-bg-desctop.png");
  background-repeat: no-repeat;
  background-position: 0 100%;
}
.work__container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 64px;
}
.work__title {
  flex: 50%;
}
.work__title h2 {
  max-width: 600px;
}
.work__title h2 span {
  color: #ffffff;
}
.work__categories {
  flex: 50%;
  display: flex;
}
.work__categories_column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.work__categories_link {
  line-height: 32px;
  color: #000000;
}
.work__categories_link:hover {
  color: #ffffff;
  border-radius: 20px;
  background: transparent;
  padding: 0 12px;
  background: linear-gradient(93.17deg, #216B52 0%, #7EA310 100%);
}
.work__categories .btn-more {
  margin-top: 48px;
}
.work__categories .btn-more:hover {
  color: #000000;
}
.work__categories .btn-more:hover svg {
  stroke: #000000;
}
.work__image {
  padding-left: 190px;
  margin-top: -448px;
}

.top__container {
  display: flex;
  align-items: center;
  gap: 32px;
  padding-top: 64px;
  padding-bottom: 10px;
}
.top h2 {
  margin-bottom: 44px;
}
.top h2 span {
  display: block;
  color: #7EA310;
}
.top__flex {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 24px 32px;
}
.top__flex_item {
  flex: calc(20% - 24px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
}
.top__flex_item img {
  max-width: 100%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.top__flex_item span {
  display: inline-flex;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}
.top__flex_link {
  flex: calc(20% - 24px);
  display: flex;
  justify-content: center;
  padding-top: 32px;
}
.top__flex_link .btn-more {
  color: #7EA310;
}
.top__flex_link .btn-more svg {
  stroke: #7EA310;
}
.top__flex_link .btn-more:hover {
  color: #216B52;
}
.top__flex_link .btn-more:hover svg {
  stroke: #216B52;
}
.projects {
  background-image: url("../img/png/projects-top-bg.png"), url("../img/png/projects-bottom-bg.png");
  background-repeat: no-repeat;
  background-position: 0 0, 100% 100%;
}
.projects__container {
  padding-top: 32px;
  padding-bottom: 48px;
}
.projects__container h2 {
  margin-bottom: 32px;
}
.projects__container h2 span {
  display: block;
}
.projects__flex {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 24px;
  margin-bottom: 40px;
}
.projects__item {
  flex: calc(50% - 32px);
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding-left: 32px;
  padding-right: 24px;
  padding-block: 24px;
}
.projects__item_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  line-height: 26px;
}
.projects__item_title h4 {
  color: #7EA310;
}
.projects__item_title span {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-weight: 600;
  color: #333333;
}
.projects__item_text p {
  line-height: 26px;
  color: #333333;
}
.projects__item_skils {
  display: flex;
  align-items: center;
  gap: 12px;
}
.projects__item_skils span {
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #7EA310;
  background: #F7F7F7;
  border-radius: 20px;
  padding: 4px 8px;
}
.projects__item_info {
  display: flex;
  align-items: center;
  gap: 8px;
}
.projects__item_info span {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  line-height: 18px;
  color: #333333;
}
.projects .btn-more {
  color: #7EA310;
}
.projects .btn-more svg {
  stroke: #7EA310;
}
.projects .btn-more:hover {
  color: #216B52;
}
.projects .btn-more:hover svg {
  stroke: #216B52;
}

.quations {
  background-color: #7EA310;
  background-image: url("../img/png/work-bg-desctop.png");
  background-repeat: no-repeat;
  background-position: 0 100%;
}
.quations__container {
  padding-block: 64px;
}
.quations__container h2 {
  padding-bottom: 40px;
}
.quations__container h2 span {
  display: block;
  color: #ffffff;
}
.quations__flex {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 24px;
}
.quations__item {
  flex: calc(50% - 32px);
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  max-height: -moz-fit-content;
  max-height: fit-content;
  overflow: hidden;
  padding: 24px;
}
.quations__item:last-child {
  background: transparent;
  box-shadow: none;
}
.quations__item .accordion {
  position: relative;
  max-width: 100%;
  width: 100%;
  background: inherit;
  text-align: left;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #333333;
}
.quations__item .accordion span {
  display: inline-block;
  max-width: 585px;
}
.quations__item .accordion::after {
  content: url('data:image/svg+xml,<svg width="31" height="8" viewBox="0 0 31 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 4L29 4" stroke="%237EA310" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M27 7L30 4L27 1" stroke="%237EA310" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M5 4C5 3.46957 4.78929 2.96086 4.41421 2.58579C4.03914 2.21071 3.53043 2 3 2C2.46957 2 1.96086 2.21071 1.58579 2.58579C1.21071 2.96086 1 3.46957 1 4C1 4.53043 1.21071 5.03914 1.58579 5.41421C1.96086 5.78929 2.46957 6 3 6C3.53043 6 4.03914 5.78929 4.41421 5.41421C4.78929 5.03914 5 4.53043 5 4Z" stroke="%237EA310" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  position: absolute;
  right: 0;
  opacity: 1;
  transition: opacity 0.3s ease-in;
}
.quations__item .accordion::before {
  content: url('data:image/svg+xml,<svg width="22" height="12" viewBox="0 0 22 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21 11L11 1L1 11" stroke="%237EA310" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  position: absolute;
  right: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}
.quations__item .accordion.active::after {
  opacity: 0;
}
.quations__item .accordion.active::before {
  opacity: 1;
}
.quations__item .accordion.active {
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid #7EA310;
}
.quations__item .panel {
  font-weight: 400;
  line-height: 26px;
  color: #333333;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in;
}
.quations__item .btn-more:hover {
  color: #000000;
}
.quations__item .btn-more:hover svg {
  stroke: #000000;
}

.text__container {
  padding-block: 44px;
  text-align: center;
}
.text__container p {
  line-height: 26px;
  text-align: center;
  color: #333333;
  padding-inline: 32px;
}

.footer__top {
  background-color: #333333;
  padding-top: 40px;
}
.footer__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footer__contacts_logo {
  margin-bottom: 24px;
}
.footer__contacts_apps {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}
.footer__contacts_socials {
  display: flex;
  align-items: center;
  gap: 12px;
}
.footer__contacts_socials a svg {
  stroke: #ffffff;
}
.footer__contacts_socials a:hover svg {
  stroke: #7EA310;
}
.footer__columns {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.footer__columns h5, .footer__columns a {
  color: #ffffff;
}
.footer__columns h5 {
  margin-bottom: 20px;
}
.footer__columns a {
  line-height: 38px;
  max-width: 212px;
}
.footer__columns a:hover {
  color: #7EA310;
}
.footer__columns_column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 40px;
}
.footer__columns_sub-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 40px;
}
.footer__bottom {
  padding-top: 12px;
  padding-bottom: 24px;
}
.footer__bottom span {
  line-height: 26px;
  color: #333333;
}
.footer__statistic {
  display: flex;
  align-items: center;
  gap: 52px;
}
.footer__statistic_users {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer__statistic_posts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer__copyright {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
