* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a {
  display: inline-flex;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.btn-green {
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  background: linear-gradient(93.17deg, #216B52 0%, #7EA310 100%);
  border-radius: 20px;
  padding: 8px 32px;
  transition: color 0.3s ease-in;
}
.btn-green:hover {
  color: #7EA310;
  border: 2px solid #7EA310;
  border-radius: 20px;
  background: transparent;
  padding: 6px 30px;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  font-style: normal;
}

[class*=__container] {
  max-width: 1360px;
  margin: 0 auto;
  padding-inline: 15px;
}

.header__container {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-block: 12px;
}
.header__menu {
  display: flex;
  align-items: center;
  width: 100%;
}
.header .btn-green {
  margin-left: 12px;
}
.header .menu__body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .menu__list {
  display: flex;
  align-items: center;
  color: #333333;
}
.header .menu__item-dropdown {
  position: relative;
  padding-right: 8px;
}
.header .menu__item-dropdown::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 4.5px;
  height: 4.5px;
  border-right: 1px solid #7EA310;
  border-bottom: 1px solid #7EA310;
  transform: translateY(-75%) rotate(45deg);
  transition: all 0.3s ease-in;
}
.header .menu__item-dropdown:hover::after {
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  transform: translateY(-5%) rotate(-135deg);
}
.header .menu__item-dropdown:hover .sub-menu {
  z-index: 1;
  width: -moz-fit-content;
  width: fit-content;
  max-height: 600px;
  opacity: 1;
  visibility: visible;
  padding: 24px;
  background: #333333;
  border-radius: 10px;
}
.header .menu__link {
  color: #333333;
  transition: color 0.3s ease-in;
  padding: 12px;
}
.header .menu__link:hover {
  color: #7EA310;
}
.header .sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in;
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.header .sub-menu .tabs-container {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.header .sub-menu .tab-buttons {
  width: -moz-max-content;
  width: max-content;
}
.header .sub-menu .tab-button {
  width: 309px;
  display: flex;
  align-items: flex-start;
  gap: 16px;
  background: inherit;
  padding: 12px 24px;
  border-radius: 20px;
  border-bottom: inherit 1px solid;
}
.header .sub-menu .tab-button:hover {
  border-bottom: rgba(255, 255, 255, 0.6) 1px solid;
}
.header .sub-menu .tab-button.active {
  background: #363636;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-bottom: none;
  margin: 0;
}
.header .sub-menu .tab-button-text {
  color: #ffffff;
  text-align: left;
}
.header .sub-menu .tab-button-text h4 {
  position: relative;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
}
.header .sub-menu .tab-button-text h4::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 8px;
  height: 8px;
  border-bottom: #7EA310 1px solid;
  border-right: #7EA310 1px solid;
  transform: translateY(-50%) rotate(-45deg);
}
.header .sub-menu .tab-button-text span {
  line-height: 26px;
}
.header .sub-menu .tab-button-text a {
  line-height: 26px;
  color: #7EA310;
}
.header .sub-menu .tab-content {
  display: none;
}
.header .sub-menu .tab-content.active {
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(3, 1fr);
  -moz-column-gap: 12px;
       column-gap: 12px;
  row-gap: 12px;
}
.header .sub-menu .tab-content-item:hover {
  background: #363636;
  box-shadow: 0px 0px 20px #7EA310;
  border-radius: 20px;
}
.header .sub-menu .tab-content-item a {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #363636;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  overflow: hidden;
}
.header .sub-menu .tab-item-image {
  width: 152px;
  max-height: 78px;
  overflow: hidden;
}
.header .sub-menu .tab-item-image img {
  max-width: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.header .sub-menu .tab-item-title {
  font-size: 14px;
  text-align: center;
  color: #FFFFFF;
  padding: 8px;
}
.header .sub-menu .sub-menu-links {
  min-width: max-content;
  min-width: -moz-max-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header .sub-menu .sub-menu-links h4 {
  font-weight: 600;
  line-height: 162.5%;
  /* 26/16 */
  color: #FFFFFF;
  margin-bottom: 12px;
}
.header .sub-menu .sub-menu-links a {
  line-height: 170.5%;
  /* 34/16 */
  color: #FFFFFF;
}
.header .sub-menu .sub-menu-links a:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 28px;
}
.header .sub-menu .sub-menu-links a:last-child svg {
  stroke: #ffffff;
}
.header .sub-menu .sub-menu-links a:hover {
  color: #7EA310;
}
.header .sub-menu .sub-menu-links a:hover svg {
  stroke: #7EA310;
}
.header .sub-menu .sub-menu__link {
  line-height: 32px;
}
.header .language-dropdown {
  position: relative;
  display: inline-block;
  font-family: sans-serif;
  margin-left: 12px;
}
.header .language-dropdown__toggle {
  border: 1px solid #7EA310;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 18px;
  height: 18px;
}
.header .language-dropdown__toggle img {
  max-width: 100%;
  vertical-align: middle;
}
.header .language-dropdown__toggle:hover {
  background-color: #e0e0e0;
}
.header .language-dropdown__toggle span {
  display: none;
}
.header .language-dropdown__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  min-width: 180px;
  display: none;
}
.header .language-dropdown__menu[aria-hidden=false] {
  display: block;
}
.header .language-dropdown__menu li {
  padding: 10px 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}
.header .language-dropdown__menu li:hover {
  background-color: #f0f0f0;
}
.header .language-dropdown__menu li img {
  width: 24px;
  height: auto;
}
.header .language-dropdown__menu li.selected {
  background-color: #e6f7ff;
  font-weight: bold;
}
.fullscreen {
  position: relative;
  background-image: url("../img/jpg/fullscreen.jpg");
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.fullscreen__container {
  padding-top: 96px;
  padding-bottom: 24px;
}
.fullscreen__wrapper {
  padding-left: 24px;
}
.fullscreen__title {
  max-width: 540px;
  font-weight: 700;
  font-size: 55px;
  line-height: 82px;
  color: #ffffff;
  margin-bottom: 40px;
}
.fullscreen__list {
  margin-bottom: 31px;
  padding-left: 24px;
}
.fullscreen__list-item {
  position: relative;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
}
.fullscreen__list-item::before {
  content: "";
  position: absolute;
  left: -24px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff;
}
.fullscreen__buttons {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 96px;
}
.fullscreen__button {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  padding: 8px 12px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid #ffffff;
  background: transparent;
}
.fullscreen__button:hover {
  color: #333333;
  background: linear-gradient(93.17deg, #E1E1E1 0%, #FFFFFF 100%);
}
.fullscreen__autor {
  text-align: right;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
}
.fullscreen__autor a {
  align-items: center;
  gap: 4px;
  color: #ffffff;
}
.fullscreen__autor a img {
  width: 14px;
  height: 14px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
}
.fullscreen__autor a:hover {
  text-decoration: underline;
}

.company {
  background-color: #333333;
}
.company__container {
  display: flex;
  align-items: center;
  gap: 96px;
}
.company__title {
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 24px;
}
.company__title span {
  line-height: 32px;
  color: #ffffff;
  white-space: nowrap;
}
.company__marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  padding-block: 24px;
}
.company__marquee_inner {
  width: -moz-max-content;
  width: max-content;
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 64px;
       column-gap: 64px;
  white-space: nowrap;
  will-change: transform;
  animation: scroll var(--marquee-duration) linear infinite;
}
.company__marquee_item:last-child {
  margin-right: 64px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100.18%);
  }
}
